body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    margin: 0;
}

.pag-superior {
    background-image: url(../images/bg-3.jpg);
    height: 500px;
    background-size: cover;
    background-position: right center;
    padding-top: 1px; /* utilizar o padding 1px é uma estratégia para driblar o erro de margin, Porém é melhor utilizar flexbox que não termos esse problema. */
}

.pag-superior nav ul {
    margin:  20px 80px 0 0;
    text-align: right;
}
.pag-superior nav li {
    display: inline-block;
    list-style-type: none;  /* Retira as bolinhas do li */ 
    border: 1px solid white;
    margin-left: 6px;
}

.pag-superior a {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.pag-superior nav a:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.pag-superior-content {
    margin-top: 100px auto 0;
    width: 100%;
    text-align: center;
    color: white;
}

.pag-superior-content h1 {
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    margin-bottom: 0;
}

.pag-superior-content p {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid;
}

main {
    width: 90%;
    margin: auto;
    max-width: 860px;
}

article {
    background-color: white;
    padding: 16px;
    margin: 32px 0;
}

.titles h2 {
    border-bottom: 2px solid #ccc;
    background-color: #eee;
    padding: 10px;
    margin-top: 0;
}

.btn {
    background-color: #cdc7c3;
    display: inline-block;
    padding: 12px;
    border-radius: 6px;
}

.rodape {
    color: white;
    background-color: #6b6c68;
    text-align: center;
    padding: 30px;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 1.5px;
}